<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/grid.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway:400,700|Oswald:300,400,700|Playfair+Display:400,400italic" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

    {{{body}}}

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript files for Brixton }}
    {{!--  TODO: ghost announced removing jquery from footer {{ghost_foot}} in version 1.7, so adding conditional below for users that already using older versions --}}
    <script type="text/javascript">
        if (typeof jQuery == 'undefined') {
            document.write('<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></'+'script>');
        }
    </script>

    <!-- Rest of the javascript files  -->
    <script type="text/javascript" src="{{asset "js/jquery.meanmenu.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/instagram.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/jquery.ghostHunter.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/jquery.ghostRelated.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/twitter.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/init.js"}}"></script>

    <script type="text/javascript">
        var userFeed = new Instafeed({
            get: 'user',
            userId: 8008074, // Replace with your own userId
            resolution: 'low_resolution',
            limit: '8',
            accessToken: '8008074.e3e108f.d06fd66587c641a682630acc95e10dc0' // Replace with your own accessToken
        });
        userFeed.run();
    </script>

    {{!-- Google analytics code only for live demo --}}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-68707915-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>
